temp_cache/
temp_images/
.venv/
final_model_state_dict_with_gate.pth
best_model_state_dict_with_gate.pth
biobert_model/
temp/
5K/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
.idea/
.vscode/
node_modules
